@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Montserrat:wght@100;200;300;400;600;700&display=swap');

body {
    font-family: inter;
}

.nav-link {
    color: rgba(37, 37, 37, 0.70) !important;
    background-color: rgba(37, 37, 37, 0.15) !important;
}



.active {
    color: #fff !important;
    background-color: #FF1F3D !important;
}

.logo {
    width: 170px;
}

.card {
    max-width: 312px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.thumb {
    width: 100%;
    height: 170px;
}

.badge-time {
    bottom: 4%;
    right: 4%;
    background-color: #171717;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
}


.bg-blog {
    background-color: #EAF0F1;
}

@media screen and (max-width: 1395px) and (min-width:1200px) {
    .card {
        max-width: 278px;
    }
}